.top-header{
    background-color: #2c3e50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* DEBUG  */
    min-height: 100px;
}


.text, .menu,
.portfolio, .about,
.contact{
    width: 100%;
    min-height: 40px;
    color: white;
    border: 1px solid black;
}

.menu{
    /* min-height: 40px; */
    /* border: 1px solid black; */
}


.green-screen{
    background-color: #1abc9c;
    /* DEBUG */
    min-height: 250px;
}

.line{
    width: 25%;
    height: 2px;
    border: 2px solid white;
}

.linetwo{
    width: 25%;
    height: 2px;
    border: 2px solid black;
}

/* .circle-container{
    display: flex;
    justify-content: center;
} */

/* img{
    DEBUG
    width: 100px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
} */

i, a{
    text-decoration: none;
    color:white;
}

.ms_btn{
    padding: 5px;
    border: 1px solid white;
}

.btn-send{
    background-color: #12b998;
}

.btn-send:hover{
    transition: 1sec;
    background-color:#36c4a8;
}

.top-footer{
    background-color: #3a546d;
}

.icons{
    border-radius: 50%;
    /* DEBUG */
    min-height: 75px;
    min-width: 75px;
    border: 1px solid black;
}

.bottom-footer{
    background-color: #2c3e50;
}




 
 
 
 
 
 
 /* .top-header{
    Debug 
    background-color: #2c3e50;
    color: white;
}

.sub-header{
    Debug 
    background-color: #1abc9c;
    min-height: 200px;
}

.white{
    background-color: white;
    Debug
    color: white;
    min-height: 30px;
    border: 1px solid white;
}

.col-5.square{
    Debug 
    border-radius: 50%;
    min-height: 200px;
    border: 1px solid white;
}  */